/* Style the footer */
footer {
  background-color: #fffdd0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: relative; /* might change to absolute or fixed*/
  bottom: 0;
  left: 0;
  font-weight: bolder;
  color: darkgreen;
}

/* Style the footer links */
.footer ul {
  list-style: none;
  margin:  0;
  padding:  0;
  display: flex;
  gap:  1em; /* Space between the links */
  justify-content: center; 
}

.footer li {
  margin:  0;
}

.footer a {
  text-decoration: none;
  color: black; /* Set the link color */
  transition: color  0.3s; /* Add a transition for hover effect */
}

.footer a:hover {
  color: #646cff; /* Change the link color on hover */
}

img {
  height: 5vh;
  width: auto;
}