/* .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
  grid-gap:  20px;
  padding:  10rem;
  margin-top: 8rem;
} */
.portfolio-grid {
  display:flex; 
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  background-color: #f8f8f8;
  padding:  20px;
  border-radius:  10px;
  box-shadow:  0  2px  5px rgba(0,  0,  0,  0.1);
  max-width: 20rem;
  position: relative;
}

.portfolio-image {
  width:  100%;
  height: auto;
  object-fit: cover;
  border-radius:  5px;
}

.portfolio-title {
  margin-top:  10px;
  font-size:  1.5em;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  padding:  0.5rem;
  border-radius: 5px;
}

.portfolio-description {
  margin-top:  10px;
  font-size:  1em;
  position: absolute;
  top: 40%;
  left: 25%;
  color: white;
}

.portfolio-links {
  margin-top:  10px;
  position: absolute;
  top: 60%;
  left: 30%;
  display: flex;
  gap: 0.5rem;
  
}

.portfolio-links a {
  margin-right:  10px;
  text-decoration: none;
  color: #007bff;
}

.portfolio-links a:hover {
  text-decoration: underline;
}

.portfolio-item:hover {
  transform: scale(1.05);
  background-color: #e8e8e8;
}

.portfolio-title:hover {
  color: #007bff;
}

.portfolio-description:hover {
  color: #007bff;
}

.portfolio-links a:hover {
  text-decoration: underline;
  color: #0056b3;
}