.portfolio-grid {
  display: flex;
  gap:  2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.portfolio-item {
  background-color: #f8f8f8;
  padding:  20px;
  border-radius:  10px;
  box-shadow:  0  2px  5px rgba(0,  0,  0,  0.1);
  max-width:  20rem;
  position: relative;
  transition: transform  0.3s ease, background-color  0.3s ease; /* Add transition for hover effect */
  
}

.portfolio-image {
  width:  100%;
  height: auto;
  object-fit: cover;
  border-radius:  5px;
}

.portfolio-title {
  margin-top:  10px;
  font-size:  1.5em;
  font-weight: bold;
  position: absolute;
  top:  10%;
  left:  10%;
  color: white;
  padding:  0.5rem;
  border-radius:  5px;
  opacity:  0.8; /* Reduce opacity for better visibility */
  transition: opacity  0.3s ease; /* Add transition for hover effect */
}

.portfolio-description {
  margin-top:  10px;
  font-size:  1em;
  position: absolute;
  top:  40%;
  left:  10%;
  color: white;
  opacity:  0.8; /* Reduce opacity for better visibility */
  transition: opacity  0.3s ease; /* Add transition for hover effect */
}

.portfolio-links {
  margin-top:  10px;
  position: absolute;
  top:  60%;
  left:  10%;
  display: flex;
  gap:  0.5rem;
}

.portfolio-links a {
  margin-right:  10px;
  text-decoration: none;
  color: #007bff;
  transition: color  0.3s ease; /* Add transition for hover effect */
}

.portfolio-links a:hover {
  text-decoration: none;
  color: white;
}

.portfolio-item:hover {
  transform: scale(1.05);
  background-color: #e8e8e8;
}

.portfolio-item:hover .portfolio-title,
.portfolio-item:hover .portfolio-description {
  opacity:  1; /* Increase opacity on hover */
}

/* ... (other styles) */
/* @media only screen and (max-width: 600px) {
  .portfolio-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12rem;
  }
}  */

.portfolio-item {
  position: relative;
  overflow: hidden; /* Ensure the hover effect is contained within the item */
}

.portfolio-item:hover .portfolio-image {
  opacity:  0.1; /* Make the background image less clear on hover */
}

.portfolio-item:hover .portfolio-title a,
.portfolio-item:hover .portfolio-description,
.portfolio-item:hover .footer-image {
  opacity:   1; /* Make the title, description, and gitimg more clear on hover */
  color: black; /* Make the title black on hover */
  text-decoration: underline;
}

.portfolio-item:hover .portfolio-description {
  text-decoration: none;
}