#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */
html, body {
  height:  100%;
  margin:  0;
  display: flex;
  background-color: #fffdd0;
}

/* Make the main content grow to fill available space */
main {
  flex-grow:  1;
}

.main-content {
  padding:  2rem; /* Add some padding around the main content */
  background-color: #fffdd0; /* Set a background color */
  min-height: calc(100vh -  140px); /* Ensure the main content takes up at least the full height of the viewport minus the height of the navbar */
  margin-top:  140px; /* Adjust the top margin to account for the fixed navbar */
  display: block;
  text-align: left;
  line-height: 3;
}

.p-text {
  line-height: 2;
}


