#root {
  margin: 10% auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */
html, body {
  height:  100%;
  margin:  0;
  /* display: flex; */
  background-color: #F5F4F1;
}

/* Make the main content grow to fill available space */
main {
  flex-grow:  1;
}

.main-content {
  padding:  2rem; /* Add some padding around the main content */
  background-color: #F5F4F1; /* Set a background color */
  min-height: calc(100vh -  140px); /* Ensure the main content takes up at least the full height of the viewport minus the height of the navbar */
  margin-top:  40px; /* Adjust the top margin to account for the fixed navbar */
  display: block;
  text-align: left;
  line-height: 3;
}

.p-text {
  line-height: 2;
}


/* media queries */


/* Media queries for different device sizes */
@media (max-width:  1200px) {
  /* Styles for viewports up to  1200px wide */
  #root {
      width:  95vw; /* Adjust the width as needed */
  }
  .main-content {
      padding:  1rem; /* Adjust the padding as needed */
  }
  /* Adjust font sizes for smaller screens */
  h1, h2, h3, h4, h5, h6 {
      font-size:  1.5em; /* Adjust font size as needed */
  }
  /* Stack elements vertically */
  .navbar, .main-content {
      flex-direction: column;
  }
}

@media (max-width:  992px) {
  /* Styles for viewports up to  992px wide */
  #root {
      width:  98vw; /* Adjust the width as needed */
  }
  .main-content {
      padding:  1rem; /* Adjust the padding as needed */
  }
  /* Adjust font sizes for smaller screens */
  h1, h2, h3, h4, h5, h6 {
      font-size:  1.2em; /* Adjust font size as needed */
  }
  /* Stack elements vertically */
  .navbar, .main-content {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  /* Styles for viewports up to 768px wide */
  #root {
    width: 100%; /* Adjust the width to fill the viewport */
  }
  .main-content {
    padding: 1rem; /* Adjust the padding as needed */
    margin-top: 80px; /* Add margin-top to create space between content and header */
  }
  /* Adjust font sizes for smaller screens */
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em; /* Adjust font size as needed */
  }
  /* Stack elements vertically */
  .navbar, .main-content {
    flex-direction: column;
  }
}


@media (max-width: 576px) {
  /* Styles for viewports up to 576px wide */
  #root {
    width: 100%; /* Ensure the root container spans the full viewport width */
  }
  
  .main-content {
    padding: 1rem; /* Add padding around the main content */
    max-width: calc(100% - 2rem); /* Calculate maximum width to account for padding */
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }
  
  /* Adjust font sizes for smaller screens */
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em; /* Reset font size to the default */
  }
  
  /* Stack elements vertically */
  .navbar, .main-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
  }
  
  /* Adjust specific element styles for smaller screens */
  .navbar {
    padding: 1rem 0; /* Reduce vertical padding for navbar */
  }
}

/* Media query for portrait orientation (828px x  1792px) */
@media screen and (width:  828px) and (height:  1792px) {
  .main-content {
    padding-top:  100px; 
    margin-top:  0; 
  }
}

/* Media query for landscape orientation (414px x  896px) */
@media screen and (width:  414px) and (height:  896px) {
  .main-content {
    padding-top:  100px; 
    margin-top:  0; 
  }
}
 